{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
			<table class="table table-sm">
				<tr>
					<th>Customer</th>
					<th>Phone</th>
				</tr>

				{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td>
						<td>{{customer.name}}</td>
						<td>{{customer.phone}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for order in page %}
					<tr>
						<td>{{order.product}}</td>
						<td>{{order.date_created}}</td>
						<td>{{order.status}}</td>
						<td><a  class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>

					</tr>
				{% endfor %}
		
			</table>
			<div class="d-flex justify-content-center">
				<ul class="pagination">
					{% if page.has_previous %}
					 <li class="page-item">
					  <a class="page-link" href="?index={{page.previous_page_number}}" >上一页</a>
					 </li>
					{% else %}
					 <li class="disabled">
					  <a href="#" class="page-link">上一页</a>
					 </li>
					{% endif %}
				   
					{% for page_number in paginator.page_range %}
					 {% if page_number == page.number %}
					  <li class="page-item active">
					   <a class="page-link" href="?index={{page_number}}">{{page_number}}</a>
					  </li>
					 {% else %}
					  <li class="page-item">
					   <a class="page-link" href="?index={{page_number}}">{{page_number}}</a>
					  </li>
					 {% endif %}
					{% endfor %}
				   
					{% if page.has_next %}
					 <li class="page-item">
					  <a class="page-link" href="?index={{page.next_page_number}}">下一页</a>
					 </li>
					{% else %}
					<li class="disabled">
					 <a href="#" class="page-link">下一页</a>
					</li>
					{% endif %}
				   </ul>
			</div>
		</div>
	</div>

</div>

{% endblock %}
